@model ShopManagement.Application.Contract.VideoProductApp.EditVideoProduct


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ویراش فیلم محصول</h4>
</div>

<form asp-page="./Index" asp-page-handler="Edit"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Video" class="control-label">فیلم</label>
                    <input type="file" class="form-control" asp-for="Video" >
                    <span asp-validation-for="Video" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label">محصولات</label>
                    <select class="form-control" asp-for="ProductId" asp-items='@new SelectList(@Model.ModelProducts,"Id","Name")'>
                        <option value="0">محصولات ...</option>
                    </select>
                    <span asp-validation-for="ProductId" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Type" class="control-label">فرمت</label>
                    <input type="text" class="form-control" asp-for="Type">
                    <span asp-validation-for="Type" class="error"></span>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ویرایش</button>
    </div>
</form>